#[IN][BT][Body SAR]
0000000000100001,0x50,0x48,0x50
#[IN][BT][Head SAR]
0000000000110001,0x3e,0x3e,0x3e
#[IN][BT+2.4G WIFI][Body SAR]
0000000001100001,0x50,0x48,0x50
#[IN][BT+2.4G WIFI][Head SAR]
0000000001110001,0x3e,0x3e,0x3e
#[IN][BT+5G/6G WIFI][Body SAR]
0000000010100001,0x50,0x48,0x50
#[IN][BT+5G/6G WIFI][Head SAR]
0000000010110001,0x3c,0x3c,0x3c
#[IN][BT+2.4G WIFI+5G/6G WIFI][Body SAR]
0000000011100001,0x50,0x48,0x50
#[IN][BT+2.4G WIFI+5G/6G WIFI][Head SAR]
0000000011110001,0x3c,0x3c,0x3c
#[IN][BT+WWAN][Body SAR]
0000000100100001,0x50,0x48,0x50
#[IN][BT+WWAN][Head SAR]
0000000100110001,0x3e,0x3e,0x3e
#[IN][BT+WWAN+2.4G WIFI][Body SAR]
0000000101100001,0x4e,0x48,0x4e
#[IN][BT+WWAN+2.4G WIFI][Head SAR]
0000000101110001,0x30,0x30,0x30
#[IN][BT+WWAN+5G/6G WIFI][Body SAR]
0000000110100001,0x4e,0x48,0x4e
#[IN][BT+WWAN+5G/6G WIFI][Head SAR]
0000000110110001,0x30,0x30,0x30
#[IN][BT+WWAN+2.4G WIFI+5G/6G WIFI][Body SAR]
0000000111100001,0x4e,0x48,0x4e
#[IN][BT+WWAN+2.4G WIFI+5G/6G WIFI][Head SAR]
0000000111110001,0x30,0x30,0x30

#[IN][BT][Body SAR][DC]
1000000000100001,0x50,0x48,0x50
#[IN][BT][Head SAR][DC]
1000000000110001,0x4a,0x48,0x4a
#[IN][BT+2.4G WIFI][Body SAR][DC]
1000000001100001,0x50,0x48,0x50
#[IN][BT+2.4G WIFI][Head SAR][DC]
1000000001110001,0x4a,0x48,0x4a
#[IN][BT+5G/6G WIFI][Body SAR][DC]
1000000010100001,0x50,0x48,0x50
#[IN][BT+5G/6G WIFI][Head SAR][DC]
1000000010110001,0x48,0x48,0x48
#[IN][BT+2.4G WIFI+5G/6G WIFI][Body SAR][DC]
1000000011100001,0x50,0x48,0x50
#[IN][BT+2.4G WIFI+5G/6G WIFI][Head SAR][DC]
1000000011110001,0x48,0x48,0x48
#[IN][BT+WWAN][Body SAR][DC]
1000000100100001,0x50,0x48,0x50
#[IN][BT+WWAN][Head SAR][DC]
1000000100110001,0x4a,0x48,0x4a
#[IN][BT+WWAN+2.4G WIFI][Body SAR][DC]
1000000101100001,0x50,0x48,0x50
#[IN][BT+WWAN+2.4G WIFI][Head SAR][DC]
1000000101110001,0x3c,0x3c,0x3c
#[IN][BT+WWAN+5G/6G WIFI][Body SAR][DC]
1000000110100001,0x50,0x48,0x50
#[IN][BT+WWAN+5G/6G WIFI][Head SAR][DC]
1000000110110001,0x3c,0x3c,0x3c
#[IN][BT+WWAN+2.4G WIFI+5G/6G WIFI][Body SAR][DC]
1000000111100001,0x50,0x48,0x50
#[IN][BT+WWAN+2.4G WIFI+5G/6G WIFI][Head SAR][DC]
1000000111110001,0x3c,0x3c,0x3c

*************************************************************************************
* Please follow the below format to set the sar value:                              *
*                                                                                   *
* sar_state,BR_sar_value,EDR_sar_value,BLE_sar_value                                *
*                                                                                   *
* sar_state:                                                                        *
* reserved  dc satelite ch3 ch2 ch1 ch0 fold wwan 5Gwifi 2.4Gwifi bt head region    *
* 00        0  0        0   0   0   0   0    0    0      0        0  0    0000      *
* region:         CN(china) = 0000, IN(india) = 0001,                               *
*                 EU(europe) = 0010, FCC = 0011, CE =0100                           *
* head:           0(body sar) , 1 (head sar)                                        *
* bt:             0(bt not tx), 1(bt tx)                                            *
* 2.4G wifi:      0(2.4G wifi not tx), 1(2.4G wifi tx)                              *
* 5G wifi:        0(5G wifi not tx), 1(5G wifi tx)                                  *
* wwan:           0(cellular not tx), 1(cellular tx)                                *
* fold:           0(unfolded), 1(folded)                                            *
* sar sensor ch0: 0(far), 1(near)                                                   *
* sar sensor ch1: 0(far), 1(near)                                                   *
* sar sensor ch2: 0(far), 1(near)                                                   *
* sar sensor ch3: 0(far), 1(near)                                                   *
* statelite:      0(disconnected), 1(connected)                                     *
* dcMode:         0(out dc mode), 1(in dc mode)                                     *
*************************************************************************************
